html {
  font-size: 15px;
  background-color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: rgb(30,30,30);
  padding: 0% 3%;
}

h1, p {
  padding: 0;
  margin: 0;
}

::selection {
  background: #ffb7b7;
  color: rgb(30,30,30);
}
::-moz-selection {
  background: #ffb7b7;
  color: rgb(30,30,30);
}

a, a:focus, a:active, a:hover {
  color: rgb(30,30,30);
  text-decoration: none !important;
}

.PageContent {
  padding-bottom: 3rem;
}

.MobileProjects {
  padding-top: 2.5rem;
}

.PageContent {
  opacity: 1;
  transform: scale(1, 1);
}

.landing-enter .HeaderWrapper {
  opacity: 0;
  transition: opacity 0.3s;
}

.landing-enter.landing-enter-active .HeaderWrapper {
  opacity: 1;
  transition: opacity 0.3s;
}

.landing-exit.landing-exit-active .HeaderWrapper {
  opacity: 0;
  transition: opacity 0.3s;
}

.PageContent .page-enter, .landing-enter .PageContent {
  opacity: 0;
  transform: scale(1.02, 1.02);
}

.PageContent .page-enter.page-enter-active, .landing-enter.landing-enter-active .PageContent {
  opacity: 1;
  transform: scale(1, 1);
  transition: opacity 300ms ease-in,
              transform 300ms ease-in;
}

.PageContent .page-exit.page-exit-active, .landing-exit.landing-exit-active .PageContent {
  opacity: 0;
  transform: scale(0.98, 0.98);
  transition: opacity 300ms ease-out,
              transform 300ms ease-out;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   padding: 0.75rem 0rem;
}
