.ArrowLink {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 0.15rem;
}

.ArrowLink:hover {
  cursor: pointer;
}

.ArrowLink * {
  display: inline-block;
}

.ArrowLink img {
  height: 0.87rem;
  position: relative;
  top: -0.2ex;
  left: 0.5rem;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.ArrowLink:hover img {
  transform: translate(0.67rem, 0);
}
